@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.cd-fixed-bg {
  /* Adjust according to your header's height */
  padding-top: 50px;
}

.cd-auto-hide-header header {
  /* This part is for the header; adjust if you have a header */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.cd-section {
  height: 100vh;
  position: relative;
  background-color: #fff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  /* Optional: add a transition effect */
  transition: transform 0.5s;
}

.cd-section:not(.cd-selected) {
  transform: scale(0.8);
  opacity: 0.7;
}

.cd-section.cd-selected {
  /* The currently selected section */
  z-index: 2;
}

.cd-section::after {
  /* Creates the "card" effect */
  content: "";
  position: absolute;
  top: 100%;
  height: 50px;
  left: 0;
  right: 0;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
}

.cd-content {
  padding: 2em;
}
